Makefile
Makefile.in
configure
config.log
config.status
aclocal.m4
build-aux/
src/generate_report.sh
src/RCAS.snakefile
src/RCAS.anot
src/RCAS.PATHrich
src/RCAS.GOrich
src/RCAS.motif
src/RCAS.py
src/RCAS.py.in
src/snakeconfig.json
autom4te.cache/
.snakemake/
config.json
*~
