Makefile
Makefile.in
configure
config.log
config.status
aclocal.m4
build-aux/
src/generate_report.sh
src/RCAS.snakefile
src/RCAS.anot.snakefile
src/RCAS.PATHrich.snakefile
src/RCAS.GOrich.snakefile
src/RCAS.motif.snakefile
src/RCAS.py
src/RCAS.py.in
src/snakeconfig.json
src/base/header.html
autom4te.cache/
.snakemake/
config.json
*~
